.git/
data/
docker/
migrations/
util/

.config.example.json
.dockerignore
.env
.env.example
.gitignore
docker-compose.prod.yml
docker-compose.yml
Dockerfile
README.md

# from .gitignore

.idea/
cache/
demos/
docker/volumes/
secret/
sessions/
vendor/

.config.json
.env
debug.txt
