.git/
docker/

.config.example.json
.dockerignore
.env
.env.example
.gitignore
justfile
Dockerfile
README.md
backup.ts

# from .gitignore

.idea/
.vscode/
vendor/

.config.json
.env
docker-compose.yml
